.key-button {
    background-color: green;
    width: 500px;
    height: 500px;
    overflow:hidden;
    position:relative;
    touch-action: manipulation;
  }
  
  .key-button--clicked {
    background-color: red;
  }
  
  .timer-bar {
    width: 500px;
    height: 50px;
    position:relative;
    background: gray;
  }
  
  .timer-bar--time {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 10px;
    background: green;
  }
  
  .timer-bar--delete,
  .timer-bar--dash,
  .timer-bar--dot,
  .timer-bar--char
  {
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    opacity: 0.25;
    background: blue;
    color: white;
    text-align: right;
    vertical-align: baseline;
  }
  
  
  .timer-bar--delete {
    width: 75%;
  }
  .timer-bar--dash {
    width: 50%;
  }
  .timer-bar--dot {
    width: 25%;
  }
  
  .timer-bar--char {
    width: 33%;
  }
  
  .result-text {
    text-decoration: underline;
  }
  